.conteudo {
  display: table;
  width: 100%;
}

.button {
  float: right;
}

.cad {
  background-color: orangered;
}

.img {
  width: 500px;
  display: block;
  margin: 0px auto;
  margin-top: 100px;
  opacity: 0.5;
}
